<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}E^2{% endblock %}</title>
</head>
<header>
    {% if user.is_authenticated %}
        <a href="/restricted/">Restricted Page</a><br />
        <a href="{% url 'auth_logout' %}">Logout</a>
    {% else %}
        <a href="/accounts/register/">Register Here</a><br />
        <a href="{% url 'auth_login' %}">Login</a>
    {% endif %}
</header>
<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
