{% extends "base.html" %}
{% load static %}
{% block title %}Library Page{% endblock %}
{% load thumbnail %}

{% block content %}
{% if profile %}
    <h2>{{ profile.user.username }}</h2>
    <h3> Your Pictures </h3>
    {% for picture in pictures %}
        {% thumbnail picture.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}">
        <input type='button' onclick="window.location.href='/photo/edit/{{ picture.pk }}'" value='Edit'>
        <br />
        {% endthumbnail %}
    {% endfor %}
    <h3> Your Albums </h3>
    {% for album in albums %}
        {% thumbnail album.cover.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}">
        <input type='button' onclick="window.location.href='/album/edit/{{ album.pk }}'" value='Edit'>
        <br />
        {% endthumbnail %}
    {% endfor %}


    <a href="/profile">Link to the Profile</a> <br />
    <a href="/stream">Link to the Stream</a> <br />
    <a href='/photo/add'>Add a Photo</a> <br />
    <a href='/album/add'>Create an Album</a> <br />

{% else %}
    <h2> There's no profile here </h2>
{% endif %}
{% endblock %}
