{% extends "base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock %}

{% block content %}
{% if profile %}
    <h2>{{ profile.user.username }}</h2>
    <img src="{{ profile.picture.url }}"  style="float:auto"/>
    <p> You have uploaded {{ num_pictures }} pictures </p>
    <p> You have created {{ num_albums }} albums </p>
    <p> You have {{ num_followers }} followers </p>
    <a href="/library">Link to the Library</a>
    <a href="/stream">Link to the Stream</a>
    <a href="/photo/add">Add a Photo</a>
{% else %}
    <h2> There's no profile here </h2>
{% endif %}
{% endblock %}
