{% extends "base.html" %}
{% load static %}
{% block title %}Stream Page{% endblock %}
{% load thumbnail %}

{% block content %}
<style>
    img { display:block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
        }
    p {text-align: center}
</style>
{% if profile %}
    <h2>{{ profile.user.username }}</h2>
    <a href="/library">Link to the Library</a>
    <a href="/profile">Link to the Profile</a>
    {% for picture in yours %}
        {% thumbnail picture.image "400x400" crop="center" as im %}
        <img src="{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}">
        <p> {{picture.profile.user.username}} </p>
        {% endthumbnail %}
    {% endfor %}

    {% for picture in theres %}
        {% thumbnail album.cover.image "400x400" crop="center" as im %}
        <img src="{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
{% else %}
    <h2> There's no profile here </h2>
{% endif %}
{% endblock %}
